.btn-group
  = link_to 'Show', manager_order_path(order),
    class: 'button btn btn-info'
  - if current_user.leader? && order.opened?
    = button_to 'Confirm',
      manager_order_path(order, status: 'unreserved'),
      method: :patch, class: 'button',
      form_class: 'btn btn-primary'
  - if order.reserved?
    = button_to 'Unreserve',
      manager_order_path(order, status: 'unreserved'),
      method: :patch, class: 'button',
      form_class: 'btn btn-primary'
  - elsif order.unreserved?
    = button_to 'Reserve',
      manager_order_path(order, status: 'reserved'),
      method: :patch, class: 'button',
      form_class: 'btn btn-primary'
  - unless order.closed?
    = button_to 'Close', manager_order_path(order, status: 'closed'),
      method: :patch, class: 'button',
      form_class: 'btn btn-warning'
  = button_to 'Destroy',  manager_order_path(order),
    method: :delete, class: 'button',
    form_class: 'btn btn-danger'
